<!doctype html>
<html lang="en">
<head>
  {{ content_for_header }}
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="stylesheet" href="{{ 'base.css' | asset_url | stylesheet_tag }}">
</head>
<body>

  {% section 'header' %}
  {% render 'cart-drawer' %}
  <main>{{ content_for_layout }}</main>
  {% section 'footer' %}

  <script src="{{ 'theme.js' | asset_url }}" defer></script>
</body>
</html>
