<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">

<section class="hero">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h1>Bring Nature Indoors</h1>
        <a class="btn" href="/collections/all">Shop Plants</a>
      </div>
      <div class="swiper-slide">
        <h1>Landscaping Made Easy</h1>
        <a class="btn" href="/collections/outdoor">Explore</a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="{{ 'swiper.js' | asset_url }}"></script>
